
/* Top left bar */
a#fdbk_tab_support_espanol {
	background-image:url("../images/help_trans_tab.png");
	background-position:right top; 
	color:#FFF;
	cursor:pointer;
	height:102px;
	left:0; 
	margin-left:7px;
	overflow:hidden; 
 
	text-indent:-100000px;
  
	width:42px; 
	z-index:100000;
	 position:fixed;
  _position:absolute;
 top:70px; 
  _top:expression(eval(document.body.scrollTop+70));
}
a#fdbk_tab_support_espanol:hover {
	margin-right:-4px
}   

a#fdbk_tab_about_espanol {
	background-image:url("../images/acerca_trans_tab.png");
	background-position:right top; 
	color:#FFF;
	cursor:pointer;
	height:102px;
	left:0; 
	margin-left:7px; 
	overflow:hidden;  
 
	text-indent:-100000px;
		 position:fixed;
  _position:absolute;
	top:175px;  
  _top:expression(eval(document.body.scrollTop+175));

	width:42px;  
	z-index:100000 
}
a#fdbk_tab_about_espanol:hover {
	margin-right:-4px
}


a#fdbk_tab_support_english {
	background-image:url("../images/help_trans_tab_en.png");
	background-position:right top; 
	color:#FFF;
	cursor:pointer;
	height:102px;
	left:0; 
	margin-left:7px;
	overflow:hidden; 
	 position:fixed;
  _position:absolute;
 top:70px; 
  _top:expression(eval(document.body.scrollTop+70));
	text-indent:-100000px;
	width:42px; 
	z-index:100000 
}
a#fdbk_tab_support_english:hover {
	margin-right:-4px
} 

a#fdbk_tab_about_english {
	background-image:url("../images/acerca_trans_tab_en.png");
	background-position:right top; 
	color:#FFF;
	cursor:pointer;
	height:102px;
	left:0; 
	margin-left:7px;
	overflow:hidden;  
	text-indent:-100000px;
			 position:fixed;
  _position:absolute;
	top:175px;  
  _top:expression(eval(document.body.scrollTop+175));
 	width:42px; 
	z-index:100000 
}
a#fdbk_tab_about_english:hover {
	margin-right:-4px
}




a#fdbk_tab_support_french {
	background-image:url("../images/help_trans_tab_fr.png");
	background-position:right top; 
	color:#FFF;
	cursor:pointer;
	height:102px;
	left:0; 
	margin-left:7px;
	overflow:hidden; 
	text-indent:-100000px;
		 position:fixed;
  _position:absolute;
 top:70px; 
  _top:expression(eval(document.body.scrollTop+70));
	width:42px;  
	z-index:100000 
}
a#fdbk_tab_support_french:hover {
	margin-right:-4px
} 

a#fdbk_tab_about_french {
	background-image:url("../images/acerca_trans_tab_fr.png");
	background-position:right top; 
	color:#FFF;
	cursor:pointer;
	height:102px;
	left:0; 
	margin-left:7px;
	overflow:hidden;  
	text-indent:-100000px;
			 position:fixed;
  _position:absolute;
	top:175px;  
  _top:expression(eval(document.body.scrollTop+175));
	width:42px; 
	z-index:100000 
}
a#fdbk_tab_about_french:hover {
	margin-right:-4px
}












a.fdbk_tab_right {
	left:0 !important;
	margin-left:0 !important;
	margin-right:auto !important;
	right:auto !important;
	width:35px !important
}
a.fdbk_tab_right:hover {
	margin-left:0 !important;
	margin-right:auto !important;   
	width:38px !important
}
